        .project-hero {
            height: 60vh;
            background: linear-gradient(to bottom, rgba(40, 0, 0, 0.5), var(--color-bg)), url('https://cdn.myportfolio.com/e02f57cc-6a9f-4608-9559-4aa0ccc64c7b/1516969e-142a-4a9a-a82b-65d563010463_rwc_297x31x1364x1023x1364.png?h=3d75ec9176d8d06eee53f2562b7c4aea') no-repeat center center;
            background-size: cover;
            position: relative;
            border-bottom: 2px solid #ff4400;
            /* Fire Orange */
        }

        .stat-block {
            background: rgba(255, 68, 0, 0.1);
            border: 1px solid #ff4400;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .stat-label {
            color: #ff4400;
            font-family: var(--font-heading);
            font-size: 0.8rem;
            display: block;
        }

        /* Overriding theme colors for HellScape only */
        :root {
            --color-secondary: #ff4400;
            --glow-secondary: 0 0 10px #ff4400, 0 0 20px rgba(255, 68, 0, 0.2);
        }